.vagrant

# files too large for source version control

# download: http://download.oracle.com/otn-pub/java/jdk/8u25-b17/jdk-8u25-linux-i586.tar.gz
puppet/modules/java/files/jdk-8u25-linux-i586.tar.gz

# download: mirrors.jenkins-ci.org/war/latest/jenkins.war
puppet/modules/jenkins/files/jenkins.war

# download: http://mirror.switch.ch/mirror/apache/dist/maven/maven-3/3.2.5/binaries/apache-maven-3.2.5-bin.tar.gz
puppet/modules/maven/files/apache-maven-3.2.5-bin.tar.gz

# download: http://www.sonatype.org/downloads/nexus-latest-bundle.tar.gz
puppet/modules/nexus/files/nexus-2.11.1-01-bundle.tar.gz